@import "ui-variables";

.gulp-control {
  color: @text-color;
  display: flex;
  flex-direction: column;
  font: @font-family;

  & > .tasks,
  & > .output {
    width: 100%;
    padding: 10px;
    overflow: hidden;
    background: @tab-background-color;
  }

  & > .tasks {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex: 0 0 50px;
    border-bottom: 1px solid @base-border-color;
    overflow-x: auto;

    &:empty,
    &:empty ~ .clear {
      display: none;
    }
  }


  & > .clear,
  & > .tasks > .task {
      cursor: pointer;
      padding: 5px;
      border-radius: 4px;
      text-align: center;
      text-transform: uppercase;
      background-color: rgba(0,0,0,.1);

      &:hover {
        color: @text-color-highlight;
      }
    }
  }

  & > .tasks > .task {


    &:not(:last-child) {
      margin-right: 5px;
    }

    &.active {
      background: @button-background-color;
      color: @text-color-highlight;

      &.running {
        background: @button-background-color-selected;
      }
    }
  }

  & > .output {
    overflow-y: auto;
    margin-bottom: 10px;

    pre {
      padding: 0;
      margin: 0;
      border: 0;
      font-size: 11px;
      background: @tool-panel-background-color;
      white-space: initial;
      word-break: initial;
      word-wrap: initial;

      &.error {
        color: @text-color-error;
      }
    }
  }

  & > .clear {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}
